edititng/Animação_Curta_de_Beijo_Pixel_Art (online-video-cutter_sprite.png
edititng/Animação_Curta_de_Beijo_Pixel_Art (online-video-cutter.com).mp4
edititng/Animação_Curta_de_Beijo_Pixel_Art (online-video-cutter.com)(1).mp4
edititng/Animao_Curta_de_Beijo_Pixel_Artonline-video-cutter.com1-ezgif.com-gif-to-sprite-converter.png
edititng/bike_run-sheet-sheet.png
edititng/bike_run-sheet.png
edititng/bike_run.png
edititng/box.png
edititng/meira_attk-sheet.png
edititng/meira_attk.png
edititng/meira.png
edititng/player_run.png
edititng/running.png
edititng/running.xcf
edititng/sucata.png
edititng/taa.png
edititng/velhinhos.png
edititng/bkp/player_run.png
